@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
/*font-family: 'Nunito', sans-serif;*/



body, html{
    margin: 0;
    padding: 0;
    height: 100%;
   
}

body{
    background: -webkit-radial-gradient(#292929 10%,#202020 25%,#000000 80%);
	color: rgb(212, 212, 212);
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 200;

}

a{
  text-decoration: none;  
  color: aquamarine;
}

a:hover{
    color: brown;
}


.nubes, .mapa{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

}
.nubes{
    height: 220px;
    width: 220px;
    
}

.nubes img{
    position: relative;
    z-index: 20;
}

.mapa{
    width: 200px;
    height: 200px;
    background: url(../redireccion/img2/mapa.png);
    background-size: cover;
    border-radius: 50%;
    box-shadow: -30px -20px rgba(0, 0, 0, .1) inset,
                -70px -40px rgba(0, 0, 0, .1) inset,
                5px 5px 0 0 rgba(255, 255, 255, 0.2) inset;
    -webkit-animation: ola 4s infinite linear; 
}  

@-webkit-keyframes ola{
    from{
        background-position: left center;
    }
    to{
        background-position: -396px center;
    }
}